
@model List<About>
<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in Model)
                {
                    
              
                <h3>@item.Title</h3>
                <h5 class="mt-lg-3 mt-2">
                    @item.Description
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                  @item.SubDescription
                </p>
                
                }
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Doğal malzemelerle pişmiş yemekler</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">En kaliteli ürünler</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> Dünyanın en iyi şefleri ve beslenme uzmanları</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">En hızlı teslimat</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>