
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @await Component.InvokeAsync("_HeadPartial")
</head>
<body>
    @await Component.InvokeAsync("_HeaderPartial")
    @await Component.InvokeAsync("_ModalPartial")
    @await Component.InvokeAsync("_AboutPageAboutPartial")
    @await Component.InvokeAsync("_AboutPageCategoryPartial")
    @await Component.InvokeAsync("_AboutPageOurTeamPartial")
    @await Component.InvokeAsync("_FooterPartial")
    @await Component.InvokeAsync("_ScriptsPartial")
</body>
</html>
