
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <!--header-->
   @await Component.InvokeAsync("_HeaderPartial")
    <!--/header-->
    <!-- Domain Modal -->
    @await Component.InvokeAsync("_ModalPartial")
   
    <!-- //Domain modal -->
    @await Component.InvokeAsync("_DomainPartial")
    
    <!-- iphone home block -->
    @await Component.InvokeAsync("_AboutPartial")
    
    <!-- //iphone home block -->
    @await Component.InvokeAsync("_PortfolioPartial")
    @await Component.InvokeAsync("_FoodPartial")
  
   

    <!--/testimonials-->
    @await Component.InvokeAsync("_TestimonialsPartial")
    <!--//testimonials-->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_FooterPartial")

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    @await Component.InvokeAsync("_ScriptsPartial")
</body>

</html>